*{
  box-sizing: border-box;
}
body{
  margin-top: 66px;
  padding: 0;
  font-family: 'Montserrat', san-serif;
}
.wrapper{
  padding-right: 18px;
  padding-left: 18px;
}
img{
  max-width: 100%;
  height: auto;
}